.vscode/*.json
src/*.o
src/data_test
src/chemins_main
src/data_test
src/test_data.c
src/test_data
src/simulation


test/test_structure
test/test_distance
test/test_data
test/test_a_etoile
test/test_file
